.sidebar{
    flex: 1;
    color: rgb(122, 122, 221);
    margin-left: 12px;
    padding: 8px;
    border-left: 1px solid #191919; 
}

.sidebarWrapper{
    display: flex;
    flex-direction: column;

}


.LoaiBieuDo{
  
}

.SoSanhTheo{
    margin-top: 50px;
    display: flex;
    flex-direction: column;


}

.Cap{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
 
}

.BuocThoiGian{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
 
}

.KhuVuc{
    margin-top: 30px;
    display: flex;
    flex-direction: column;

}

.DuLieu{
    margin-top: 30px;
    display: flex;
    flex-direction: column;

}

.KhoangThoiGianBaoCao{
    margin-top: 30px;
    display: flex;
    flex-direction: column;

}

.SuKien{
    margin-top: 30px;
    display: flex;
    flex-direction: column;

}

.selectColor{
    margin-top: 10px;
    background-color: #333333;
    opacity: 88%;
    color: #D0E5FF;
    width: 212px;
    height: 30px;
    border-radius: 4px;
}

.sidebarButtonGroup{
    display: flex;
    justify-content: space-between;

}

.columnChart{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.LineChart{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}


.CircleChart{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.link{
    text-decoration: none;
    color: inherit;
}



